* {
	box-sizing: border-box;
	margin: 0;
	padding: 0em;
}
body {
	background: url('bg.jpg') no-repeat fixed center;
	font-family: Helvetica,Times,serif;
	color: white;
	padding:1em;
}
h1{
	font-size:2.0em;
	text-align: center;
	margin:1em;
	margin-bottom: 3em;
	backdrop-filter:brightness(90%);
}
div{
	float:left;
}
.section {

	padding:1em;
	border: 1px solid white;
	position:relative;
	margin:1em;
	backdrop-filter:brightness(30%);
}
p{
	margin-top: 3em;
}
h3{
	position:absolute;
	right:0;
	top:0;
	padding: 10px 12px 7px 12px;
	border: 1px solid white;
	font-size:1.25em;
	background-color: #000000;

}
#first > h3{
	background-color: #fc6b03
}
#second > h3{
	background-color: #5603fc
}
#third > h3{
	background-color: #031cfc
}
@media(min-width:992px){
	
	.col-ds-1{
		width:8.33%;
	}
	.col-ds-2{
		width:16.66%;
	}
	.col-ds-3{
		width:25%;
	}
	.col-ds-4{
		width:33.33%;
	}
	.col-ds-5{
		width:41.66%;
	}
	.col-ds-6{
		width:50%;
	}
	.col-ds-7{
		width:58.33%;
	}
	.col-ds-8{
		width:66.66%;
	}
	.col-ds-9{
		width:74.99%;
	}
	.col-ds-10{
		width:83.33%;
	}
	.col-ds-11{
		width:91.66%;
	}
	.col-ds-12{
		width:100%;
	}
}
@media(min-width:768px) and (max-width: 991px){
	
	.col-tb-1{
		width:8.33%;
	}
	.col-tb-2{
		width:16.66%;
	}
	.col-tb-3{
		width:25%;
	}
	.col-tb-4{
		width:33.33%;
	}
	.col-tb-5{
		width:41.66%;
	}
	.col-tb-6{
		width:50%;
	}
	.col-tb-7{
		width:58.33%;
	}
	.col-tb-8{
		width:66.66%;
	}
	.col-tb-9{
		width:74.99%;
	}
	.col-tb-10{
		width:83.33%;
	}
	.col-tb-11{
		width:91.66%;
	}
	.col-tb-12{
		width:100%;
	}
}
@media(max-width:767px){
	
	.col-mb-1{
		width:8.33%;
	}
	.col-mb-2{
		width:16.66%;
	}
	.col-mb-3{
		width:25%;
	}
	.col-mb-4{
		width:33.33%;
	}
	.col-mb-5{
		width:41.66%;
	}
	.col-mb-6{
		width:50%;
	}
	.col-mb-7{
		width:58.33%;
	}
	.col-mb-8{
		width:66.66%;
	}
	.col-mb-9{
		width:74.99%;
	}
	.col-mb-10{
		width:83.33%;
	}
	.col-mb-11{
		width:91.66%;
	}
	.col-mb-12{
		width:100%;
	}
}